<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%# Users info %>
      <%= render 'users/user', user: @user %>
      <%# New Book %>
      <%= render 'books/new', book: @book %>
      
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan=3></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <% user = User.find(book.user_id) %>
            <tr>
              <td>
<<<<<<< HEAD
                <%= link_to user_path(user.id) do %>
=======
                <%= link_to @user.profile_path(book.user_id) do %>
>>>>>>> 41ffc2fe1752d3c1e5cf3db085e4cc5814e537b5
                  <%= render 'users/attachment' %>
                <% end %><br>
              </td>
              <td><%= link_to book.title, "/books/#{book.id}" %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </<tbody>>
      </table>
    </div>
  </div>
</div>